<form class="inputSection mt-5" action="/generate" method="POST">
  <div class="mb-3">
    <input type="url" class="form-control bg-light" placeholder="input URL here" id="exampleInputEmail1" aria-describedby="emailHelp" name="inputUrl" required="true">
  </div>
  <div class="button d-grid col-1 mx-auto">
    <button type="submit" class="btn btn-primary btn-lg">shorten</button>
  </div>
</form>
