<div class="container text-center" >
  <h1>Success! Please use this link:</h1>
  
  <a href="{{ outputUrl }}" class="blink-opacity-100" id="outputUrl" name="outputUrl" disabled>
    <h2 class="text mt-3">{{ outputUrl }}</h2>
  </a>
  
  <a href="/" class="btn btn-primary mt-3" role="button">
    <h4 class="textBack m-auto">back</h4>
  </a>
  
</div>


